Adafruit-Blinka
adafruit-circuitpython-busdevice
adafruit-circuitpython-connectionmanager
adafruit-circuitpython-neopixel
adafruit-circuitpython-pixelbuf
adafruit-circuitpython-requests
adafruit-circuitpython-typing
Adafruit-PlatformDetect
Adafruit-PureIO
beautifulsoup4
bs4
certifi
chardet
charset-normalizer
cssselect
ctypescrypto
fleep
gattlib
html5lib
idna
kali-tweaks
libarchive-c
lxml
netifaces
ntpsec
olefile
pbkdf2
pillow
prettytable
psycopg2
pycrypto
pycryptodomex
pyftdi
PyRIC
pyserial
python-apt
pyusb
requests
roguehostapd
RPi.GPIO
rpi_ws281x
scapy
six
soupsieve
tornado
typing_extensions
urllib3
wcwidth
webencodings
wifiphisher
zero-hid
